* {
  font-family: maledpan;
}

mat-icon {
  font-family: "Material Icons" !important;
}

.content {
  padding: 2% 17% 2% 17%;
}

.mat-card {
  border-radius: 10px;
}

.hint-message {
  font-size: 0.85rem;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: left;
  height: 1.5em;
  &:before {
    content: "";
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #74736d;
    background-color: #fcfcfa;
  }
}

.mat-card-content {
  padding-left: 25px;
}
.mat-card-actions {
  padding-left: 25px;
  padding-right: 25px;
}
