mat-icon {
  font-family: "Material Icons" !important;
}
h2,
h3,
h1,
* {
  font-family: maledpan;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 12px;
}
.hint-message {
  font-size: 15px;
}
